
.div1{
    margin-top: 150px;
}
.container {
    max-width: 400px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: bisque;
  
}

.form {
    display: flex;
    flex-direction: column;
}

.inputDiv {
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.formDiv1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.formDiv1 button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    cursor: pointer;
}